{% extends 'Generator/layout.html' %}

{% block content %}

<p class="text-light">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum ea,
    molestiae quos placeat ex pariatur quisquam rem tempore expedita similique fugiat,
    magnam illum quae veritatis tenetur! Explicabo consectetur quis quo! Lorem ipsum dolor,
    sit amet consectetur adipisicing elit. Voluptatum ea, molestiae quos placeat ex pariatur q
    uisquam rem tempore expedita similique fugiat,
    magnam illum quae veritatis tenetur! Explicabo consectetur quis quo!

    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum ea,
    molestiae quos placeat ex pariatur quisquam rem tempore expedita similique fugiat,
    magnam illum quae veritatis tenetur! Explicabo consectetur quis quo! Lorem ipsum dolor,
    sit amet consectetur adipisicing elit. Voluptatum ea, molestiae quos placeat ex pariatur q
    uisquam rem tempore expedita similique fugiat,
    magnam illum quae veritatis tenetur! Explicabo consectetur quis quo!

    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum ea,
    molestiae quos placeat ex pariatur quisquam rem tempore expedita similique fugiat,
    magnam illum quae veritatis tenetur! Explicabo consectetur quis quo! Lorem ipsum dolor,
    sit amet consectetur adipisicing elit. Voluptatum ea, molestiae quos placeat ex pariatur q
    uisquam rem tempore expedita similique fugiat,
    magnam illum quae veritatis tenetur! Explicabo consectetur quis quo!
</p>

{% endblock %}